*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(assets/bg.png) no-repeat top center/cover;
    height: 100vh;

    width: 100%;
    max-width: 588px;
    margin: 120px auto 0px;
    padding: 0px 24px;
}

#container {
    width: 100%;
    max-width: 588px;
    /* border: 1px solid red; */
    margin: 56px auto 0px;
    padding: 0px 24px;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

#logo,
#tittle {
  padding: 24px;
  max-width: 800px;
}

.container-input{
    max-width: 480px;
    margin: 14px 0;
}

.container-input span{
    color: white;
    font-size: 22px;

}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 30px;
    background: #DFDFDF;
    height: 25px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(173, 9, 9); 
    border-radius: 50%;
    cursor: pointer;
    }

    .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: rgb(173, 9, 9);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    }

    .slider:hover {
        background-color: rgb(183, 183, 183);
    }

.button-cta {
    height: 60px;
    background-color: rgb(173, 9, 9); 
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 30px;  
    transition: background 0.2s;
}

.button-cta:hover {
        background-color: rgb(158, 13, 13);
        border: 1.5px solid var(--text-color);
        border: 1px solid #ff7575;
}

.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
    color: white;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password{
    height: 60px;
    background-color: #18181B;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #313131;
    transition: transform 0.3s;

}

.password:hover{
    transform: scale(1.05)
}

.tooltip{
    color: white;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: rgb(15,15,15);
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.hide{
    display: none;
}

.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}
  
  #social-links {
    /*border: 1px solid;*/
    display: flex;
    padding: 50px 0px 30px;
    font-size: 28px;
    justify-content: center;
    align-items: center;
  }
  
  #social-links a {
    display: flex;
    margin: 0 15px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    padding: 16px;
    transition: background 0.2s; 
    width: 60px; 
    height: 60px;
  }
  
  #social-links a:hover {
  padding: 16px;
  background: rgba(146, 146, 146, 0.15);
  transition: background 0.2s;
  }
  
  footer {
    color: white;
    padding: 24px;
    text-align: center;
    font-size: 14px;
  }

/* Media queries */
@media (max-width: 700px) {
    body {
        background-image: url("./assets/bg-mobile.png");
    }
}

@media (min-width: 701px) {
    body {
        background-image: url("./assets/bg.png");
    }
}